<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VoiceRecorder_Outlook.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VoiceRecorder_Outlook.MySettings>
            <setting name="MessageText1" serializeAs="String">
                <value>Change the sample text via Settings!</value>
            </setting>
            <setting name="path" serializeAs="String">
                <value>C:\OutlookAddin\</value>
            </setting>
            <setting name="MessageText2" serializeAs="String">
                <value>{Reply Text 2}</value>
            </setting>
        </VoiceRecorder_Outlook.MySettings>
    </userSettings>
</configuration>
